<main id="app">
  <div class="card-wrapper active" #cardWrapper>
    <section id="card" class="active" #card>
      <div class="inside">
        <div class="card__shine"></div>
        <div class="card__glare"></div>
        <div class="card__content avatar__content">
          <img class="avatar" src="./iconPersonagem.png" alt="Avatar" />
        </div>
        <div class="card__content">
          <div class="card__details">
            <h3>Rodrigo</h3>
            <p>Developer</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
